body {
    width: 200px;
}
.label {
    color: #333;
    font-size: 10px;
}

button {
    margin-right: 5px; /* ボタン間のスペースを設定 */
}

button:last-of-type {
    margin-right: 0; /* 最後のボタンの右側にマージンをつけない */
}
